<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<h1>HELLO</h1>
			<lead>Copy here...</lead>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ul class="nav text-center">
				<li>Home</li> |
				<li>Say Hi</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="card card-block">
				<div class="row">
					<div class="col-xs-8 col-xs-offset-1">
						<h4 class="card-title">Episode #</h4>
						<p class="card-text">Copy here...</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>